<!DOCTYPE html>
<html>
<head>
  <title>August2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<div id="header">
	<% if user_signed_in? %>
	<%= current_user.email %>
	<%= link_to('Setting',edit_user_registration_path) %>
	<%= link_to('Logout',destroy_user_session_path, :method => :delete) %>
	<% else %>
		<%= link_to('Signup',new_user_registration_path) %>
		<%= link_to('Login',new_user_session_path) %>
	<% end %>
</div>


<hr />
<div id="footer">
	<%= link_to "Home", root_path %>
	|<%= link_to "About", about_path %>
	|<%= link_to "Help", help_path %>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
